:root {
  --x-ui-outside-color: #ffffff;
  --x-ui-border-color: #a1a1a1;

  --x-ui-content-border-color: #ffed00;
  --x-ui-content-light-background: #f0f0f0;
  --x-ui-content-hover-background: #99cce660;

  --x-tab-inactive-color: #f0f0f0;
}

*[is=x-ui-] ui-tabbar > ui-tab.inactive, ui-tabbed > ui-tabbar > ui-tab.switch {
  background-color: var(--x-tab-inactive-color);
}

[is=x-ui-] #main ui-tabbar .logo {
  content: url(/global_ui/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.6em;
}

[is="x-ui-"] ui-rest > ui-content > ui-area { padding: 1em; }

[is="x-ui-"] input, [is="x-ui-"] button, [is="x-ui-"] select {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0.5em;
  border: 1px solid var(--x-ui-border-color);
  width: 30em;
}

[is="x-ui-"] ui-area button {
  width: initial;
  padding: 0.7em 5em;
}

[is="x-ui-"] select {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.fading {
  color: red;
  display: none;
  border: 0 none !important;
}
